{% extends 'administrador/list.html' %}
{% load static %}
{% block head_list %}
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
    
{% endblock %}

{% block content %}

<div class="card card-secondary" style="padding-top: 15px; padding-Left: 30px; padding-right: 30px;">
    <div class="row gy-4 mt-1">
        <div class="col-lg-12">
            <div id="map" style="border:0; width: 100%; height: 600px;"></div>
          </div><!-- End Google Maps -->
          <div class="card mt-3">
            <div class="card-header">
                <h5 class="card-title">Información de la Ruta</h5>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Tiempo total de ejecución: <span id="tiempoEjecución">-</span></li>
                    <li class="list-group-item">Tiempo de respuesta de la API: <span id="tiempoCallApi">-</span></li>
                    <li class="list-group-item">Tiempo de recorrido: <span id="tiempoRecorrido">-</span></li>
                    <li class="list-group-item">Distancia total: <span id="distanciaTotal">-</span></li>
                    <li class="list-group-item">Cantidad de marcadores: <span id="cantidadMarcadores">-</span></li>
                    <li class="list-group-item">Orden de visita a cada punto: <span id="ordenMarcadores">-</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-header mt-3">
    <h3 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> {{ title }} </font></font></h3>
    </div>

    <div class="card-body">
        <div class="row gy-4 mt-1" style="margin:15px">
            <div class="col-lg-12">
                <button class="btn btn-primary" onclick="calcularRutaOptima()">Calcular Ruta Óptima</button>
                 <button class="btn btn-danger" onclick="eliminarTodosLosMarcadores()">Eliminar Todos los Marcadores</button>
            </div>
                <div class="col-md-3 mt-3">
                    <label for="filtroDistrito">Distrito:</label>
                    <select id="filtroDistrito" class="form-control">
                        <option value="">Todos los distritos</option>
                        <!-- Opciones de distritos se llenarán dinámicamente -->
                    </select>
                </div>
                <div class="col-md-3 mt-3">
                    <label for="filtroFecha">Fecha:</label>
                    <input type="date" id="filtroFecha" class="form-control">
                </div>
                <div class="col-md-3 d-flex align-items-end">
                    <button id="btnFiltrar" class="btn btn-primary mr-2">Filtrar</button>
                    <button id="btnLimpiarFiltros" class="btn btn-secondary">Limpiar Filtros</button>

                </div>
            </div>
        </div>
        <table class="table table table-bordered table-sm" id="data">
            <thead class="thead-dark">
            <tr>
                <th scope="col" style="width: 0%;">ID</th>
                <th scope="col" style="width: 10%;">Nombre</th>
                <th scope="col" style="width: 10%;">Apellidos</th>
                <th scope="col" style="width: 10%;">Descripción</th>
                <th scope="col" style="width: 10%;">Direccion Referencial</th>
                <th scope="col" style="width: 5%;">Distrito</th>
                <th scope="col" style="width: 5%;">Latitud</th>
                <th scope="col" style="width: 5%;">Longitud</th>
                <th scope="col" style="width: 5%;">Fecha</th>
                <th scope="col" style="width: 5%;">Opciones</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table> 
    </div>
</div>

{% endblock %}
{% block js %}
<script type="application/javascript">
    $(function(){
        $('#data').DataTable({
            responsive: true,
            autoWidth: false,
            retrieve: true,
        });
    });
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBz55mquH5zrVivEaQYvpP3nKOaCjY2W-Q&libraries=places&callback=initMap" async defer></script>


  <script src="{% static '/js/reportes/list.js' %}"></script>
  {% endblock %}



